{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link rel="stylesheet" type="text/css" href="{% static 'AllNews/style.css' %}">
    <script>
	    function save_article(id) {
	        document.getElementById(id).disabled = true;
	        var xhr = new XMLHttpRequest({'id_ar':id});
	        var body = 'id_ar=' + id;
	        var params = 'id_ar=' + id;
	        xhr.open("GET", '/news/?' + params, true)
	        xhr.setRequestHeader('Content-Type', 'x-www-form-urlencoded')
	        xhr.send(body); 
	    }
    </script>
  </head>		
  <body>
    <header class="header"><br/>
      <ul class="hr"> 
        <div class="left_menu">    
          <li><a href = "/news/"><b>Главная<b/><a></li>&nbsp;&nbsp;
          <li><a href = "/news/my_news"><b>Моя лента<b/></a></li>&nbsp;&nbsp;
          <li><a href = "/news/my_saved"><b>Сохранённые<b/></a></li>&nbsp;&nbsp;
          <li><a href = "/news/settings"><b>Личный кабинет<b/></a></li>
        </div>
        <div class="right_menu">  
          {% if user.is_authenticated %}
          <li><b>{{ user.username }}<b/></li>
          <li><a href = "/accounts/logout"><b>Выйти<b/></a></li>
          {% else %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li><a href = "/accounts/login"><b>Войти<b/></a></li>
          {% endif %}
        </div>
      </ul>
    </header>
    <section>
    {% block content %}
    {% endblock %}
    </section>
  </body>
</html>
