<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	<title>Новости: {{ current_site.name }}</title>
    </head>		
    <body>
        <h1>Последние:</h1>
        <h2>Источник: {{ current_site.name }}</h2>
        <div>
            <a href="/news">Главная</a>
            {% for site in sites %}
            <a href="/news/{{ site.pk }}/">{{ site.name }}</a>
            {% endfor %}
        </div>
        {% for article in articles %}
        <div>
            <h2>{{ article.title }}</h2>
            <p>{{ article.tag }}></p>
            <p>{{ article.content }}</p>
            <p>{{ article.link }}</p>
            <p>{{ article.published }}</p>
        </div>
        {% endfor %}
    </body>
</html>
