{% extends "Layout/basic.html" %}

{% block content %}
<div>
  <form  action="">
    <div>
      <p>Источники:</p>
    </div>
    <div>
      <select name="site_id">
        <option selected disabled>Все</option>
        {% for site in sites %}
        <option value={{ site.pk}}>{{ site.name }}</option>
        {% endfor %}
      </select> 
    </div>
    <div> 
      <p>Теги:</p>
    </div>
    <div>
      <select name="tag1_id">
        <option selected disabled>Все</option>
        {% for tag in tags1 %}
        <option value={{ tag.pk}}>{{ tag.tag }}</option>
        {% endfor %}
      </select>
    </div>
    </div>
      <select name="tag2_id">
        <option selected disabled>Все</option>
        {% for tag in tags2 %}
        <option value={{ tag.pk}}>{{ tag.tag }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <input type="submit" value="Найти">
    </div>
  </form>
</div>

{% if not articles.exists %}
<p>Ничего не найдено</p>
{% endif %}

{% for article in articles %}
<br/>
<div>
    <p>{{ article.title }}</p>
    <ul>
        {% for tag in article.tags.all %}
        <li>{{ tag.tag }}</li>
        {% endfor %}
    </ul>
    <p><a href={{ article.link }}>{{ article.content }}</a></p>
    <p><a href="/news/sites/ {{ article.site.pk }}">{{ article.site.name }}</a><p> 
    <p>{{ article.published }}</p>
    {% if user.is_authenticated %}
    <p>Сохранить</p>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
  
