{% extends "Layout/basic.html" %}

{% block content %}
<div>
    <a href="/news">Главная</a>
    <h1>Последние:</h1>
    <p>Источники:</p>
    {% for site in sites %}
    <a href="/news/sites{{ site.pk }}/">{{ site.name }}</a>
    {% endfor %}
    <p>Теги:</p>
    {% for tag in tags %}
    <p>{{ tag.tag }}</p>
    {% endfor %}
</div>
{% for article in articles %}
<div>
    <p>{{ article.title }}</p>
    {% for tag in article.tags.all %}
    <p>{{ tag.tag }}</p>
    {% endfor %}
    <p><a href={{ article.link }}>{{ article.content }}</a></p>
    <p><a href="/news/sites/{{ article.site.pk }}">{{ article.site.name }}</a><p> 
    <p>{{ article.published }}</p>
    <p>Сохранить</p>
</div>
{% endfor %}
{% endblock %}
  
