{% extends "Layout/basic.html" %}

{% block content %}
<div>
  <form  action="">
    <div>
      <p>Источники:</p>
    </div>
    <div>
      <select name="site_id">
        <option selected disabled>Все</option>
        {% for site in sites %}
        <option value={{ site.pk}}>{{ site.name }}</option>
        {% endfor %}
      </select> 
    </div>
    <div> 
      <p>Теги:</p>
    </div>
    <div>
      <select name="tag1_id">
        <option selected disabled>Все</option>
        {% for tag in tags1 %}
        <option value={{ tag.pk}}>{{ tag.tag }}</option>
        {% endfor %}
      </select>
    </div>
    </div>
      <select name="tag2_id">
        <option selected disabled>Все</option>
        {% for tag in tags2 %}
        <option value={{ tag.pk}}>{{ tag.tag }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <input type="submit" value="Найти">
    </div>
  </form>
</div>

{% if not articles.exists %}
<p>Ничего не найдено</p>
{% endif %}

{% for article in articles %}
<br/>
<form>
    <p>{{ article.title }}</p>
    <ul>
        {% for tag in article.tags.all %}
        <li>{{ tag.tag }}</li>
        {% endfor %}
    </ul>
    <p><a href={{ article.link }}>{{ article.content }}</a></p>
    <p><a href="/news/sites/ {{ article.site.pk }}">{{ article.site.name }}</a><p> 
    <p>{{ article.published }}</p>
    {% if user.is_authenticated %}
      {% if user not in article.users.all %}
      <input type="submit" id={{article.pk}} value="Добавить в сохранённые" onclick="save_article({{article.pk}})">
      {% endif %}
      {% if user in article.users.all %}
      <input type="submit" id={{article.pk}} value="Удалить из сохранённых" onclick="save_article({{article.pk}})">
      {% endif %}
    {% endif %}
</form>
{% endfor %}

{% if articles.exists %}
<br/><div>
  {% if page.has_previous %}
  <a href="?page={{ page.previous_page_number }}{{filter_ids}}">&lt;</a>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  {% endif %}
  Страница №{{ page.number }}
  {% if page.has_next %}
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="?page={{ page.next_page_number }}{{filter_ids}}">&gt;</a>
  {% endif %}
</div>
{% endif %}

{% endblock %}
    
